.clients-list {
    display: flex;
    gap: var(--card-set-gap);
}

.clients-item {
    flex-basis: calc((100% - 5 * var(--card-set-gap)) / 6);
}

.clients-link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    transition: border-color var(--transition);
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);

    transition: fill var(--transition);
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-color);
}